<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsDBLinq.Properties.Settings.MarcAlbaEmployeesConnectionString"
            connectionString="Data Source=200.234.224.123,54321;Initial Catalog=MarcAlbaEmployees;Persist Security Info=True;User ID=sa;Password=Sql#123456789;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsDBLinq.Properties.Settings.JayMarcEmployeesConnectionString"
            connectionString="Data Source=200.234.224.123,54321;Initial Catalog=JayMarcEmployees;Persist Security Info=True;User ID=sa;Password=Sql#123456789;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>